extends layout

block content
    .content_section
        .content_title='Player Profile'
        .content_text
            p.
                Username: #{user.username}
            p.
                ID: #{user._id}
            p
                | Games played: #{games.played} <br />
                | Hard: #{games.hard} <br />
                | Medium: #{games.medium} <br />
                | Easy: #{games.easy} <br />