extends layout

block content
    .content_section
        .content_title='Top 20 Hard Games'
        .content_text
            table
                for record, i in scores.hard
                    tr
                        td #{i}
                        td #{record.username}
                        td #{record.score}
        .content_title='Top 20 Medium Games'
        .content_text
            ul
                for record, i in scores.medium
                    li #{i} #{record.username} #{record.score} <br />
                else
                    li Empty
        .content_title='Top 20 Easy Games'
        .content_text
            ul
                for record, i in scores.easy
                    li #{i} #{record.username} #{record.score} <br />
                else
                    li Empty