extends layout

block content
    .content_section
        .content_title='Top 20 Hard Games'
        .content_text
            ul
                for record, i in game.hard
                    li #{i} + " " + #{record.username} + " " + #{record.score} + "<br />"
                else
                    li Empty
        .content_title='Top 20 Medium Games'
        .content_text
            ul
                for record, i in game.medium
                    li #{i} + " " + #{record.username} + " " + #{record.score} + "<br />"
                else
                    li Empty
        .content_title='Top 20 Easy Games'
        .content_text
            ul
                for record, i in game.easy
                    li #{i} + " " + #{record.username} + " " + #{record.score} + "<br />"
                else
                    li Empty