extends layout

block content
    .content_section
        .content_title='How to play Reactor'
        .content_text
            p.
                "Reaction" is simple to play. The aim is to click as many circles in the given time as you can. This game will test your ability to react to movements on screen with your mouse. The game has set difficulty settings that affect the time given and size of the circles.
            p.
                Improve your reaction time by tweaking your mouse settings or environment and improve your reaction time.
            p.
                A number of factors can affect your reaction time, such as:
            ul
                li='Screen refresh rate'
                li='Mouse sensitivity'
                li='Mouse poll rate'
                li='Mouse surface'
                li='or You!'