extends layout

block content
    .content_section
        .content_title='Javascript Graphics Library'
        .content_text
            p.
                Whilst JS can already create SVG graphics in its standard implementation - and HTML5's canvas model - a more robust solution was needed. The Java Script Graphics Libraray supplies a cross-platform SVG graphics library for JS, and contains a set of extremely useful functions, such as handling animation, text and images.
            p.
                JSGL 2.0 offers browser support for:
            ul
                li='IE 6.0+'
                li='Firefox 3.0+'
                li='Opera 9.0+'
                li='Safari 3.0+'
                li='Google Chrome'
            p.
                With the requirements so low, it allows the use of the library across multiple browsers both old and new, allowing support for all.

            p
                | Visit 
                a(href='http://www.jsgl.org/doku.php') jsgl.org
                |  to view the documentation.