doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='javascripts/jsgl.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    body
        .login
            if (!user)
                a(href="/login") Login
                = " | "
                a(href="/register") Register + " | "
            if (user)
                = "Logged in as: " + user.username
                a(href="/logout") Logout
        .banner(style='background-image: url("images/banner.png")')
            .title='Quake III World'
            .sub='The Internets #1 fan site'
        .nav_bar
            .nav_link
                h6.nav_header='Home'
                ul.nav_select
                    li.nav_href: a(href='/') Home
                    li.nav_href: a(href='/q3') Quake III
                    li.nav_href: a(href='/jsgl') JSGL
                    li.nav_href: a(href='/html') HTML5
                h6.nav_header='Game'
                ul.nav_select
                    li.nav_href: a(href='/reactor') Reactor
                    li.nav_href: a(href='/howto') Howto
                    li.nav_href: a(href='/hiscore') Hiscores
                    if (user)
                        li.nav_href: a(href='/elite') Elite corner
                h6.nav_header='Misc'
                ul.nav_select
                    li.nav_href: a(href='/about') About
                    li.nav_href: a(href='/design') Design
                    li.nav_href: a(href='/valid') Validation
                    li.nav_href: a(href='/feedback') Feedback
        .content
            .content_section
                block content
        footer
            .footer_element
                .footer_info
                    Last Modified:<br />Date:
            .footer_element
                a(href='http://jigsaw.w3.org/css-validator/check/referer')
                    img(style='border:0;width:88px;height:31px', src='http://jigsaw.w3.org/css-validator/images/vcss', alt='Valid CSS!')
            .footer_element
                a(href='http://www.w3.org/html/logo/')
                    img(src='https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png', width='88', height='31', alt='HTML5 Powered with CSS3 / Styling, and Semantics', title='HTML5 Powered with CSS3 / Styling, and Semantics')
        if (error && error.length > 0)
            br
            h4.error-msg= error
            br